In [ ]:
!pip install pymongo pandas

In [1]:
import pymongo
import sqlite3
import pandas as pd

URI = "mongodb+srv://nsmariam11:LNKGZM0k0WZr1QLn@cluster0.zmtlg.mongodb.net/sae"
client = pymongo.MongoClient(URI)
db = client["ClassicModel"]

# Connexion à SQLite
conn = sqlite3.connect("ClassicModel_1.sqlite")

In [ ]:
# Création des données
Customers = pd.read_sql_query(
    """
    SELECT *
    FROM Customers;
    """,
    conn
)

Orders = pd.read_sql_query(
    """
    SELECT *
    FROM Orders;
    """,
    conn
)

Employees = pd.read_sql_query(
    """
    SELECT *
    FROM Employees;
    """,
    conn
)

Offices = pd.read_sql_query(
    """
    SELECT *
    FROM Offices;
    """,
    conn
)

Orderdetails = pd.read_sql_query(
    """
    SELECT *
    FROM OrderDetails;
    """,
    conn
)


Payments = pd.read_sql_query(
    """
    SELECT *
    FROM Payments;
    """,
    conn
)


Products = pd.read_sql_query(
    """
    SELECT *
    FROM Products;
    """,
    conn
)

In [ ]:
# Création de la liste Payments
Payments = [
    Payments.query('customerNumber == @id')
        .drop(columns = ["customerNumber"])
        .to_dict(orient = "records")
        for id in Customers.customerNumber
]
print(Payments)

In [ ]:
# Ajout de Payments dans Customers
Customers = Customers.assign(Payments = Payments)
Customers.head()

In [ ]:
# Insertion de la collection Customers dans MongoDB
db.Customers.insert_many(
    Customers.to_dict(orient = "records")
)

In [ ]:
db.Customers.count_documents({})

In [ ]:
# Contenu de la collection Customers
list(db.Customers.find())

In [ ]:
# Création de la liste Offices
Offices = [
    Offices.query('officeCode == @id')
        .drop(columns=["officeCode"])
        .to_dict(orient = "records") 
        for id in Employees.officeCode
]
print(Offices)

In [ ]:
# Ajout de Offices dans Employees
Employees = Employees.assign(Offices = Offices)
Employees.head()

In [ ]:
# Insertion de la collection Employees dans MongoDB
db.Employees.insert_many(
    Employees.to_dict(orient = "records")
)

In [ ]:
db.Employees.count_documents({})

In [ ]:
# Contenu de la collection Customers
list(db.Employees.find())

In [ ]:
# Jointure entre les données de OrderDetails et Products
OrderDetails = pd.read_sql_query(
    """
    SELECT *
    FROM OrderDetails
    INNER JOIN Products
    USING (productCode);
    """,
    conn
)

In [ ]:
# Création de la liste OrderDetails
OrderDetails = [
    OrderDetails.query('orderNumber == @id')
        .drop(columns = ["orderNumber"])
        .to_dict(orient = "records")
        for id in Orders.orderNumber
]
print(OrderDetails)

In [ ]:
# Ajout de OrderDetails dans Orders
Orders = Orders.assign(OrderDetails = OrderDetails)
Orders.head()

In [ ]:
# Insertion de la collection Orders dans MongoDB
db.Orders.insert_many(
    Orders.to_dict(orient = "records")
)

In [ ]:
db.Orders.count_documents({})

In [ ]:
# Contenu de la collection Orders
list(db.Orders.find())

In [2]:
# 1. Lister les clients n’ayant jamais effectué une commande 
rq1 = db.Orders.distinct("customerNumber")

customers_without_orders = list(
    db.Customers.find(
        {"customerNumber": {"$nin": rq1}},
        {"_id": 0, "customerName": 1, "customerNumber": 1}
    )
)


result1 = pd.DataFrame(list(customers_without_orders))
print(result1)

    customerNumber                    customerName
0              125              Havel & Zbyszek Co
1              168          American Souvenirs Inc
2              169               Porto Imports Co.
3              206      Asian Shopping Network, Co
4              223                 Natürlich Autos
5              237                   ANG Resellers
6              247        Messner Shopping Network
7              273               Franken Gifts, Co
8              293               BG&E Collectables
9              303                Schuyler Imports
10             307                Der Hund Imports
11             335       Cramer Spezialitäten, Ltd
12             348           Asian Treasures, Inc.
13             356            SAR Distributors, Co
14             361                 Kommission Auto
15             369          Lisboa Souveniers, Inc
16             376           Precious Collectables
17             409  Stuttgart Collectable Exchange
18             443        Feuer Online Stores, Inc
19             459                Warburg Exchange
20             465             Anton Designs, Ltd.
21             477             Mit Vergnügen & Co.
22             480       Kremlin Collectables, Co.
23             481              Raanan Stores, Inc

In [3]:
# 2. Pour chaque employé, le nombre de clients, le nombre de commandes et le montant total de celles-ci ;

rq2 = [
    # Jointure entre Employees et Customers
    {
        "$lookup": {
            "from": "Customers",
            "localField": "employeeNumber",
            "foreignField": "salesRepEmployeeNumber",
            "as": "customers"
        }
    },
    # Jointure entre Customers et Orders
    {
        "$lookup": {
            "from": "Orders",
            "localField": "customers.customerNumber",
            "foreignField": "customerNumber",
            "as": "orders"
        }
    },
    {
        "$unwind": {"path": "$customers", "preserveNullAndEmptyArrays": True}
    },
    {
        "$unwind": {"path": "$customers.Payments", "preserveNullAndEmptyArrays": True}
    },
    
    # Calcul du montant total des paiements
    {
        "$project": {
            "TransacAmount": {"$toDouble": "$customers.Payments.amount"},
            "customers.customerNumber": 1,
            "orders.orderNumber": 1,
            "firstName": 1,
            "lastName": 1,
            "employeeNumber": 1
        }
    },
    
    # Groupement des données par "employeeNumber" et calcul du total
    {
        "$group": {
            "_id": "$employeeNumber",
            "firstName": {"$first": "$firstName"},
            "lastName": {"$first": "$lastName"},
            "numberOfCustomers": {"$addToSet": "$customers.customerNumber"},
            "numberOfOrders": {"$addToSet": "$orders.orderNumber"},
            "totalOrderAmount": {"$sum": "$TransacAmount"}  
        }
    },

    {
        "$project": {
            "employeeNumber": "$_id",
            "firstName": 1,
            "lastName": 1,
            "numberOfCustomers": {"$size": "$numberOfCustomers"},
            "numberOfOrders": {"$size": {"$arrayElemAt": ["$numberOfOrders", 0]}},
            "totalOrderAmount": {"$ifNull": ["$totalOrderAmount", None]},
            "_id": 0
        }
    },
    
    # Tri des résultats par employeeNumber
    {
        "$sort": {"employeeNumber": 1}
    }
]


result2 = pd.DataFrame(list(db.Employees.aggregate(rq2)))
print(result2)

   firstName   lastName  employeeNumber  numberOfCustomers  numberOfOrders  \
0      Diane     Murphy            1002                  0               0
1       Mary  Patterson            1056                  0               0
2       Jeff   Firrelli            1076                  0               0
3    William  Patterson            1088                  0               0
4     Gerard     Bondur            1102                  0               0
5    Anthony        Bow            1143                  0               0
6     Leslie   Jennings            1165                  6              34
7     Leslie   Thompson            1166                  6              14
8      Julie   Firrelli            1188                  6              14
9      Steve  Patterson            1216                  6              18
10  Foon Yue      Tseng            1286                  7              17
11    George     Vanauf            1323                  8              22
12      Loui     Bondur            1337                  6              20
13    Gerard  Hernandez            1370                  7              43
14    Pamela   Castillo            1401                 10              31
15     Larry       Bott            1501                  8              22
16     Barry      Jones            1504                  9              25
17      Andy     Fixter            1611                  5              19
18     Peter      Marsh            1612                  5              19
19       Tom       King            1619                  0               0
20      Mami      Nishi            1621                  5              16
21   Yoshimi       Kato            1625                  0               0
22    Martin     Gerard            1702                  6              12

    totalOrderAmount
0               0.00
1               0.00
2               0.00
3               0.00
4               0.00
5               0.00
6         1107556.89
7          378064.72
8          422257.44
9          511033.04
10         516702.22
11         647431.29
12         607731.21
13        1202704.62
14         816680.71
15         767659.56
16         795706.43
17         566642.90
18         532756.59
19              0.00
20         492317.02
21              0.00
22         412172.79

In [4]:
# 3. Idem pour chaque bureau (nombre de clients, nombre de commandes et montant total), avec en plus le nombre de clients d’un pays différent, s’il y en a ;

rq3 = db.Employees.aggregate([
    
    {"$unwind": {"path": "$Offices", "preserveNullAndEmptyArrays": True}},
   
    # Joindre les clients en utilisant employeeNumber et salesRepEmployeeNumber
    {"$lookup": {
        "from": "Customers",
        "localField": "employeeNumber",
        "foreignField": "salesRepEmployeeNumber",
        "as": "customers"
    }},
   
    {"$unwind": {"path": "$customers", "preserveNullAndEmptyArrays": True}},
   
    # Joindre les commandes en utilisant customerNumber
    {"$lookup": {
        "from": "Orders",
        "localField": "customers.customerNumber",
        "foreignField": "customerNumber",
        "as": "orders"
    }},
   
    {"$unwind": {"path": "$orders", "preserveNullAndEmptyArrays": True}},
   
    # Joindre les paiements pour obtenir le montant
    {"$unwind": {"path": "$customers.Payments", "preserveNullAndEmptyArrays": True}},
   
    {
        "$project": {
            "TransacAmount": {"$toDouble": "$customers.Payments.amount"},  # Montant du paiement
            "customers.customerNumber": 1,
            "orders.orderNumber": 1,
            "Offices.country": 1,  
            "Offices.city": 1,     
            "officeCode": 1,       
            "customerCountry": "$customers.country"  
        }
    },
   
    # Groupement des données par "officeCode"
    {
        "$group": {
            "_id": "$officeCode",  # Groupement par officeCode
            "totalOrderAmount": {"$sum": "$TransacAmount"},
            "numberOfCustomers": {"$addToSet": "$customers.customerNumber"},
            "numberOfOrders": {"$addToSet": "$orders.orderNumber"},
            "country": {"$first": "$Offices.country"},
            "city": {"$first": "$Offices.city"},  
            "customersCountryList": {"$addToSet": "$customerCountry"}  # Liste des pays des clients
        }
    },
   
    # Calcul du nombre de clients uniques et le nombre de clients d'un pays différent
    {
        "$project": {
            "_id": 0,
            "officeCode": "$_id",
            "city": "$city",
            "country": "$country",
            "numberOfCustomers": {"$size": "$numberOfCustomers"},
            "numberOfOrders": {"$size": "$numberOfOrders"},
            "totalOrderAmount": {
                "$cond": {
                    "if": {"$eq": ["$totalOrderAmount", 0]},
                    "then": "NaN",
                    "else": "$totalOrderAmount"
                }
            },
            "customersFromDifferentCountry": {
                "$size": {
                    "$setDifference": [
                        "$customersCountryList",  
                        ["$country"]
                    ]
                }
            }
        }
    },
   
    # Tri des résultats par officeCode
    {"$sort": {"officeCode": 1}}
])


result3 = pd.DataFrame(list(rq3))
print(result3)

  officeCode           city    country  numberOfCustomers  numberOfOrders  \
0        1.0  San Francisco        USA                 12              48
1        2.0         Boston        USA                 12              32
2        3.0            NYC        USA                 15              39
3        4.0          Paris     France                 29             106
4        5.0          Tokyo      Japan                  5              16
5        6.0         Sydney  Australia                 10              38
6        7.0         London         UK                 17              47

   totalOrderAmount  customersFromDifferentCountry
0       13617508.61                              0
1        2581034.07                              0
2        3506160.15                              1
3       27539012.59                              6
4        1815463.17                              3
5        4471955.56                              2
6        4546088.67                              5

In [5]:
# 4. Pour chaque produit, donner le nombre de commandes, la quantité totale commandée, et le nombre de clients différents ;

rq4 = [
    {
        "$unwind": {
            "path": "$OrderDetails",
            "preserveNullAndEmptyArrays": True
        }
    },
    
    # Joindre les informations du produit à partir de OrderDetails
    {
        "$lookup": {
            "from": "Products",
            "localField": "OrderDetails.productCode",
            "foreignField": "productCode",
            "as": "productDetails"
        }
    },
    
    {
        "$unwind": {
            "path": "$productDetails",
            "preserveNullAndEmptyArrays": True
        }
    },
    
    # Joindre les informations de client pour récupérer les clients distincts
    {
        "$lookup": {
            "from": "Customers",
            "localField": "customerNumber",
            "foreignField": "customerNumber",
            "as": "customerDetails"
        }
    },

    {
        "$unwind": {
            "path": "$customerDetails",
            "preserveNullAndEmptyArrays": True
        }
    },
    
    # Regrouper les résultats pour chaque produit en fonction du code produit
    {
        "$group": {
            "_id": "$OrderDetails.productCode", 
            "productName": {"$first": "$OrderDetails.productName"}, 
            "numberOfOrders": {"$addToSet": "$orderNumber"},
            "totalQuantityOrdered": {"$sum": "$OrderDetails.quantityOrdered"}, 
            "numberOfCustomers": {"$addToSet": "$customerNumber"}
        }
    },

    {
        "$project": {
            "_id": 0,
            "productCode": "$_id",  
            "productName": 1, 
            "numberOfOrders": {"$size": "$numberOfOrders"}, 
            "totalQuantityOrdered": 1,
            "numberOfCustomers": {"$size": "$numberOfCustomers"}
        }
    },
    
    # Tri des résultats par code produit
    {
        "$sort": {"productCode": 1}
    }
]


result4 = pd.DataFrame(list(db.Orders.aggregate(rq4)))
print(result4)

                               productName  totalQuantityOrdered productCode  \
0    1969 Harley Davidson Ultimate Chopper                  1026    S10_1678
1                 1952 Alpine Renault 1300                   961    S10_1949
2                    1996 Moto Guzzi 1100i                   999    S10_2016
3     2003 Harley-Davidson Eagle Drag Bike                   985    S10_4698
4                      1972 Alfa Romeo GTA                  1000    S10_4757
..                                     ...                   ...         ...
104                            The Titanic                   952   S700_3505
105                         The Queen Mary                   883   S700_3962
106              American Airlines: MD-11S                  1073   S700_4002
107                       Boeing X-32A JSF                   960    S72_1253
108                             Pont Yacht                   958    S72_3212

     numberOfOrders  numberOfCustomers
0                28                 26
1                28                 27
2                28                 26
3                28                 25
4                28                 27
..              ...                ...
104              27                 22
105              27                 24
106              28                 26
107              28                 27
108              27                 24

[109 rows x 5 columns]

In [6]:
# 5. Donner le nombre de commande pour chaque pays du client, ainsi que le montant total des commandes et le montant total payé : on veut conserver les clients n’ayant jamais commandé dans le résultat final ;

rq5 = [
    # Jointure entre Customers et Orders
    {
        "$lookup": {
            "from": "Orders",
            "localField": "customerNumber",
            "foreignField": "customerNumber",
            "as": "orders"
        }
    },

    {"$unwind": {"path": "$orders", "preserveNullAndEmptyArrays": True}},
    
    {
        "$unwind": {
            "path": "$orders.OrderDetails",
            "preserveNullAndEmptyArrays": True
        }
    },
    
    # Calcul de la somme totale par commande
    {
        "$addFields": {
            "totalOrderAmount": {
                "$multiply": [
                    {"$toDouble": "$orders.OrderDetails.priceEach"},
                    {"$toInt": "$orders.OrderDetails.quantityOrdered"}
                ]
            }
        }
    },

    {"$unwind": {"path": "$Payments", "preserveNullAndEmptyArrays": True}},
    
    # Groupement des données par client et commandes uniques
    {
        "$group": {
            "_id": {"country": "$country", "orderNumber": "$orders.orderNumber"},
            "totalOrderAmount": {"$sum": "$totalOrderAmount"},
            "totalPaidAmount": {"$sum": {"$toDouble": "$Payments.amount"}}
        }
    },
    
    # Regrouper les données par pays
    {
        "$group": {
            "_id": "$_id.country",
            "numberOfOrders": {"$sum": 1},  # Compte des commandes uniques
            "totalOrderAmount": {"$sum": "$totalOrderAmount"},
            "totalPaidAmount": {"$sum": "$totalPaidAmount"}
        }
    },

    {
        "$project": {
            "_id": 0,
            "country": "$_id",
            "numberOfOrders": 1,
            "totalOrderAmount": {
                "$cond": {
                    "if": {"$eq": ["$totalOrderAmount", 0]},
                    "then": "NaN",
                    "else": "$totalOrderAmount"
                }
            },
            "totalPaidAmount": 1
        }
    },
    
    # Tri des résultats par pays
    {"$sort": {"country": 1}}
]


result5 = pd.DataFrame(list(db.Customers.aggregate(rq5)))
print(result5)

    numberOfOrders  totalPaidAmount       country totalOrderAmount
0               19     2.482541e+07     Australia       2182269.38
1                7     4.090982e+06       Austria        606187.59
2                7     1.931535e+06       Belgium        283705.44
3                7     4.487022e+06        Canada        448157.12
4                7     7.001114e+06       Denmark         781357.5
5                9     1.009620e+07       Finland        988745.73
6               37     3.141444e+07        France       3160296.75
7                8     4.971661e+06       Germany        576293.44
8                2     7.805498e+05     Hong Kong         48784.36
9                3     9.241029e+05       Ireland        115512.86
10               1     0.000000e+00        Israel              NaN
11              10     1.324310e+07         Italy        945208.16
12               6     4.837611e+06         Japan        496898.36
13               1     0.000000e+00   Netherlands              NaN
14              15     1.710337e+07   New Zealand       1736137.04
15               9     8.870124e+06        Norway        848125.78
16               3     2.444409e+06   Philippines        282047.19
17               1     0.000000e+00        Poland              NaN
18               1     0.000000e+00      Portugal              NaN
19               1     0.000000e+00        Russia              NaN
20              10     1.150336e+07     Singapore       1038454.91
21               1     0.000000e+00  South Africa              NaN
22              37     2.123241e+08         Spain      12665636.19
23               7     6.541197e+06        Sweden        554287.75
24               3     3.649120e+06   Switzerland        235427.12
25              13     1.506256e+07            UK       1204373.23
26             113     1.957451e+08           USA      14228729.12

In [7]:
# 6. On veut la table de contigence du nombre de commande entre la ligne de produits et le pays du client

rq6 = [
    {
        "$unwind": {
            "path": "$OrderDetails",
            "preserveNullAndEmptyArrays": True
        }
    },
    
    # Joindre les commandes avec les clients
    {
        "$lookup": {
            "from": "Customers",
            "localField": "customerNumber",
            "foreignField": "customerNumber",
            "as": "customer"
        }
    },

    {
        "$unwind": {
            "path": "$customer",
            "preserveNullAndEmptyArrays": True
        }
    },
    
    # Groupement par productLine et country
    {
        "$group": {
            "_id": {
                "productLine": "$OrderDetails.productLine",
                "country": "$customer.country"
            },
            "uniqueOrderNumbers": {
                "$addToSet": "$orderNumber"
            }  
        }
    },
    
    {
        "$project": {
            "_id": 0,
            "productLine": "$_id.productLine",
            "country": "$_id.country",
            "numberOfOrders": {
                "$size": "$uniqueOrderNumbers"
            }
        }
    },
    
    # Tri des résultats par productLine et country
    {
        "$sort": {
            "productLine": 1,
            "country": 1
        }
    }
]


result6 = pd.DataFrame(list(db.Orders.aggregate(rq6)))
print(result6)

      productLine    country  numberOfOrders
0    Classic Cars  Australia              12
1    Classic Cars    Austria               5
2    Classic Cars    Belgium               2
3    Classic Cars     Canada               6
4    Classic Cars    Denmark               5
..            ...        ...             ...
121  Vintage Cars  Singapore               4
122  Vintage Cars      Spain              22
123  Vintage Cars     Sweden               4
124  Vintage Cars         UK              10
125  Vintage Cars        USA              67

[126 rows x 3 columns]

In [8]:
# 7. On veut la même table croisant la ligne de produits et le pays du client, mais avec le montant total payé dans chaque cellule 

rq7 = [
    {"$unwind": {"path": "$OrderDetails", "preserveNullAndEmptyArrays": True}},
    
    # Filtre pour les commandes valides
    {"$match": {
        "OrderDetails.quantityOrdered": {"$exists": True, "$ne": None},
        "OrderDetails.priceEach": {"$exists": True, "$ne": None}
    }},
    
    # Joindre avec les clients
    {"$lookup": {
        "from": "Customers",
        "localField": "customerNumber",
        "foreignField": "customerNumber",
        "as": "customer"
    }},
    {"$unwind": {"path": "$customer", "preserveNullAndEmptyArrays": True}},
    
    # Calculer le total payé par client
    {
        "$addFields": {
            "totalCustomerPayments": {
                "$sum": {
                    "$map": {
                        "input": "$customer.Payments",
                        "as": "payment",
                        "in": {"$toDouble": "$$payment.amount"}
                    }
                }
            }
        }
    },
    
    # Groupement par productLine et country et calcul du total payé
    {"$group": {
        "_id": {"productLine": "$OrderDetails.productLine", "country": "$customer.country"},
        "totalPaidAmount": {"$sum": "$totalCustomerPayments"}
    }},
    
    {"$project": {
        "_id": 0,
        "productLine": "$_id.productLine",
        "country": "$_id.country",
        "totalPaidAmount": 1
    }},
    
    # Tri des résultats par productLine et country
    {"$sort": {"productLine": 1, "country": 1}}
]

result7 = pd.DataFrame(list(db.Orders.aggregate(rq7)))
print(result7)

     totalPaidAmount   productLine    country
0         7504795.97  Classic Cars  Australia
1         1884419.42  Classic Cars    Austria
2          166880.87  Classic Cars    Belgium
3          774924.01  Classic Cars     Canada
4         3678313.22  Classic Cars    Denmark
..               ...           ...        ...
121       1941227.28  Vintage Cars  Singapore
122      39878490.66  Vintage Cars      Spain
123       1377094.16  Vintage Cars     Sweden
124       4673162.78  Vintage Cars         UK
125      47090713.86  Vintage Cars        USA

[126 rows x 3 columns]

In [9]:
# 8. Donner les 10 produits pour lesquels la marge moyenne est la plus importante (cf buyPrice et priceEach)

rq8 = [
    {"$unwind": {"path": "$OrderDetails", "preserveNullAndEmptyArrays": True}},
    
    {
        "$addFields": {
            "margin": {
                "$subtract": ["$OrderDetails.priceEach", "$OrderDetails.buyPrice"]
            }
        }
    },
    
    # S'assurer que les champs utilisés ne sont pas null
    {
        "$match": {
            "margin": {"$ne": None},
            "OrderDetails.priceEach": {"$ne": None},
            "OrderDetails.buyPrice": {"$ne": None}
        }
    },
    
    # Groupement par produit (productCode et productName) et calcul de la marge moyenne
    {
        "$group": {
            "_id": {
                "productCode": "$OrderDetails.productCode",
                "productName": "$OrderDetails.productName"
            },
            "averageMargin": {"$avg": "$margin"}
        }
    },
    
    # Trier les résultats par marge moyenne, du plus grand au plus petit
    {"$sort": {"averageMargin": -1}},
    {"$limit": 10}
]

result8 = pd.DataFrame(list(db.Orders.aggregate(rq8)))

# Affichage plus lisible du DataFrame
result8 = result8.rename(columns={
    "_id": "productInfo"
})
result8["productCode"] = result8["productInfo"].apply(lambda x: x["productCode"])
result8["productName"] = result8["productInfo"].apply(lambda x: x["productName"])
result8 = result8.drop(columns=["productInfo"])


print(result8)

   averageMargin productCode                           productName
0      99.006429    S10_1949              1952 Alpine Renault 1300
1      95.235000    S10_4698  2003 Harley-Davidson Eagle Drag Bike
2      83.334906    S18_3232           1992 Ferrari 360 Spider red
3      83.201429    S12_2823                      2002 Suzuki XREO
4      82.696786    S18_2795                1928 Mercedes-Benz SSK
5      81.043704    S12_1108                     2001 Ferrari Enzo
6      77.335926    S12_3891                      1969 Ford Falcon
7      72.636800    S18_3685        1948 Porsche Type 356 Roadster
8      71.794400    S18_2870          1999 Indy 500 Monte Carlo SS
9      70.432800    S18_1749              1917 Grand Touring Sedan

In [10]:
# 9. Lister les produits (avec le nom et le code du client) qui ont été vendus à perte :
#   Si un produit a été dans cette situation plusieurs fois, il doit apparaître plusieurs fois,
#   Une vente à perte arrive quand le prix de vente est inférieur au prix d’achat ;

rq9 = [
    {"$unwind": {"path": "$OrderDetails", "preserveNullAndEmptyArrays": True}},
    
    # Jointure des clients avec les commandes
    {
        "$lookup": {
            "from": "Customers",
            "localField": "customerNumber",
            "foreignField": "customerNumber",
            "as": "customer"
        }
    },
    {"$unwind": {"path": "$customer", "preserveNullAndEmptyArrays": True}},
    
    # Filtrer les produits vendus à perte
    {
        "$match": {
            "$expr": {"$lt": ["$OrderDetails.priceEach", "$OrderDetails.buyPrice"]}
        }
    },
    
    {
        "$project": {
            "_id": 0,
            "productCode": "$OrderDetails.productCode",
            "productName": "$OrderDetails.productName",
            "customerNumber": "$customer.customerNumber",
            "customerName": "$customer.customerName",
            "priceEach": "$OrderDetails.priceEach",
            "buyPrice": "$OrderDetails.buyPrice"
        }
    }
]

result9 = pd.DataFrame(list(db.Orders.aggregate(rq9)))
print(result9)

   productCode                          productName  customerNumber  \
0     S10_4962               1962 LanciaA Delta 16V             363
1     S18_2957                   1934 Ford V8 Coupe             363
2     S18_3136  18th Century Vintage Horse Carriage             363
3     S12_3148                   1969 Corvair Monza             181
4     S18_2319               1964 Mercedec Tour Bus             181
..         ...                                  ...             ...
74    S10_4962               1962 LanciaA Delta 16V             276
75    S12_1666                       1958 Setra Bus             276
76    S18_2949          1913 Ford Model T Speedster             276
77    S18_2238       1998 Chrysler Plymouth Prowler             323
78    S12_1108                    2001 Ferrari Enzo             250

                    customerName  priceEach  buyPrice
0   Online Diecast Creations Co.      61.99    103.42
1   Online Diecast Creations Co.      29.87     34.35
2   Online Diecast Creations Co.      47.04     60.74
3                Vitachrome Inc.      54.33     89.14
4                Vitachrome Inc.      37.48     74.86
..                           ...        ...       ...
74       Anna's Decorations, Ltd      46.90    103.42
75       Anna's Decorations, Ltd      63.20     77.90
76       Anna's Decorations, Ltd      45.25     60.78
77    Down Under Souveniers, Inc      69.81    101.51
78               Lyon Souveniers      69.12     95.59

[79 rows x 6 columns]